@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&family=Roboto&display=swap');


body{
    color:rgb(20,40,161);
margin:72px 144px;
display:flex;
flex-direction: column;
font-family: 'Comic Neue', cursive;

}

img{
    width:90%;
}

p{
    font-size: 1.5em;
    line-height: 150%;
}

@media only screen and (max-width: 800px) {
    body{
        margin:24px;
    }

}