@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&family=Roboto&display=swap');


body{
   background-color:rgb(20,40,161);
margin:72px 144px;
display:flex;
flex-direction: column;

font-family: 'Arial', cursive;
color:white;
}




p{
    font-weight: lighter;

}


button{
    padding:16px 24px;
    background-color: rgb(20,40,161);
    color:white;
    font-size: larger;
    margin:24px;
    border-radius: 24px;
    text-decoration: none;
    width: auto;
}

a{
    color:white;
    text-decoration: none;
    text-align: center;
}